In [77]:
import psycopg2

import numpy as np
import pandas as pd

from config import get_password

# retrieve password
password = get_password()

In [81]:
# Connect to postgres financial_data database
con = psycopg2.connect(
            host="localhost",
            database="financial_data",
            user='postgres',
            password=f'{password}')

# create cursor
c = con.cursor()

c.execute(f'SELECT * from price_history;')
df = pd.DataFrame(c.fetchall())

con.close()

df

,0,1,2,3,4,5,6,7
0,2019-09-16 09:30:00-04:00,7.785000,7.785000,7.800000,7.660000,7.710000,34264.0,ATEN
1,2019-09-16 10:30:00-04:00,7.780000,7.780000,7.800000,7.750000,7.780000,31239.0,ATEN
2,2019-09-16 11:30:00-04:00,7.785000,7.785000,7.790000,7.745000,7.780000,21342.0,ATEN
3,2019-09-16 12:30:00-04:00,7.750000,7.750000,7.830000,7.740000,7.790000,35291.0,ATEN
4,2019-09-16 13:30:00-04:00,7.735000,7.735000,7.770000,7.720000,7.750000,22395.0,ATEN
...,...,...,...,...,...,...,...,...
37903,2021-09-10 11:30:00-04:00,35.119999,35.119999,35.139999,34.910000,34.939999,156063.0,TRIP
37904,2021-09-10 12:30:00-04:00,34.924999,34.924999,35.130001,34.880001,35.119999,149059.0,TRIP
37905,2021-09-10 13:30:00-04:00,34.904999,34.904999,35.014999,34.820000,34.919998,132930.0,TRIP
37906,2021-09-10 14:30:00-04:00,34.570000,34.570000,34.904999,34.549999,34.904999,122465.0,TRIP
37907,2021-09-10 15:30:00-04:00,34.599998,34.599998,34.619999,34.439999,34.560001,367501.0,TRIP