In [1]:
import psycopg2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

from config import get_password

# retrieve password
password = get_password()

In [51]:
q = "SELECT * from price_history where symbol = 'AAOI' order by dt asc;"

# Connect to postgres financial_data database
con = psycopg2.connect(
            host="localhost",
            database="financial_data",
            user='postgres',
            password=f'{password}')

# create cursor
c = con.cursor()

c.execute(q)
columns = [item[0] for item in c.description]
df = pd.DataFrame(c.fetchall(), columns=columns)

# close connection
con.close()

In [52]:
df

             dt  adj_close  close     high     low   open    volume symbol
0    2013-09-26       9.96   9.96  10.0900   9.370  10.00  946000.0   AAOI
1    2013-09-27      10.10  10.10  10.4400  10.000  10.44  253300.0   AAOI
2    2013-09-30      10.00  10.00  10.1800   9.710  10.00   84900.0   AAOI
3    2013-10-01      10.00  10.00  10.0200   9.920   9.95   74500.0   AAOI
4    2013-10-02       9.97   9.97  10.0000   9.890   9.99   94000.0   AAOI
...         ...        ...    ...      ...     ...    ...       ...    ...
2002 2021-09-09       7.72   7.72   7.9700   7.580   7.80  425600.0   AAOI
2003 2021-09-10       7.43   7.43   7.8000   7.400   7.77  259800.0   AAOI
2004 2021-09-13       7.45   7.45   7.5200   7.216   7.44  372900.0   AAOI
2005 2021-09-14       7.21   7.21   7.5200   7.120   7.44  330600.0   AAOI
2006 2021-09-15       7.28   7.28   7.3745   7.050   7.25  485530.0   AAOI

[2007 rows x 8 columns]